fastapi
uvicorn
ipykernel
python-multipart
openai
beautifulsoup4
requests
psycopg2-binary
databutton
sqlalchemy
sendgrid
pydantic[email]
supabase
stripe
twilio
lxml
cloudscraper
playwright
apify-client
firecrawl-py
zenrows