fastapi
uvicorn[standard]==0.34.2
ipykernel==6.29.5
python-multipart==0.0.9
openai
beautifulsoup4
requests
psycopg2-binary
databutton
sqlalchemy
sendgrid
pydantic[email]
supabase
stripe
twilio
lxml
cloudscraper
playwright
apify-client
firecrawl-py
zenrows